<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercice 4</title>
</head>
<body>
<header>
<h1>HelloWorld</h1>
</header>
 {% block body %}

  {% endblock %}
<footer>
<h3> {{ data }} </h3>
</footer>
</body>
</html>